@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --tbc-neutral-900: #062630;
  --tbc-neutral-700: #385159;
  --tbc-neutral-200: #E6E1DF;
  --tbc-neutral-100: #FAF5F3;
  --tbc-neutral-0: #ffffff;
  --light-salmon: #FEA36F;
  --light-salmon-100: #FFE2D1;
  --light-salmon-50: #FFF5EF;
  --text-gradient: linear-gradient(107deg, #FF9A60 -11.37%, #062630 61.84%);
  --base-gradient: linear-gradient(90deg, #FFE2D1 0%, #FFF5EF 100%);
}

@layer utilities {
  	/* FONTS */
	.font-martian-mono-normal {
		@apply font-martian-mono font-normal;
	};

	.font-martian-mono-bold {
		@apply font-martian-mono font-bold;
	};

	.font-martian-mono-medium {
		@apply font-martian-mono font-medium;
	};

	.font-martian-mono-semi-bold {
		@apply font-martian-mono font-semibold;
	};

	.font-martian-mono-light {
		@apply font-martian-mono font-light;
	};

	.font-inter-normal {
		@apply font-inter font-normal;
	};
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
